// bower:scss
// endbower
@import "_variables";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Helvetica', Arial, sans-serif;
    color: #000;
    margin: 0;
}

header {
    position: relative;
    background: $motkraft-red;
    color: #fff;
    // padding: $pad;
    height: 64px;

    .headerContent {
        position: relative;
        max-width: $bp-large;
        margin: 0 auto;
        padding: $padding-header;

        > h1 {
            font-size: $font-size-huge;
            margin: 0;
            background-image: url('../images/logo.png');
            background-size: 200px 40px;
            background-repeat: no-repeat;
            text-indent: 9999px;
            height: 40px;
            width: 200px;
            line-height: 40px;
            // margin: 12px 0;
            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
                background-image: url('../images/logo@2x.png');
            }
        }

        .radioToggle {
            position: absolute;
            right: 12px;
            top: 12px;
            width: 40px;
            height: 40px;

            img {
                -webkit-transition: all 0.2s ease-out;
                /* Safari */
                transition: all 0.2s ease-out;
                -ms-transform: rotate(0deg);
                /* IE 9 */
                -webkit-transform: rotate(0deg);
                /* Chrome, Safari, Opera */
                transform: rotate(0deg);
                width: 40px;
                height: 40px;
            }
        }

        .radio {
            .play {
                display: inline-block;
                background: #fff;
                color: #000;
                padding: 0.25em;
                border-radius: 1em;
                cursor: pointer;
                line-height: 1em;
                width: 1em;
            }
        }
    }

    .radioContainer {
        display: none;
        height: 60px;
        background: #fee;
    }

    &.radio {
        height: 124px;

        .radioToggle {
            img {
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Chrome, Safari, Opera */
                transform: rotate(90deg);
                // -webkit-transition: all .2s; /* Safari */
                // transition: all .2s;
            }
        }

        .radioContainer {
            display: block;
        }
    }
}

footer {
    background: #666;
    color: #fff;
    padding: $pad;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main {
    // padding: $pad;
    max-width: $bp-large;
    margin: 0 auto;
    // @media all and (max-width: $bp-large) {
    // background: #fff;
    // }
    // @media all and (min-width: $bp-large) {
    // padding-right: $pad;
    // }
    .ticker {
        .header {
            background: #fbd2d3;
            padding: $pad;

            h1 {
                font-size: $font-size-large;
                margin: 0 0 $pad-quarter;
                color: $motkraft-red;

                .toggle {
                    font-size: $font-size-med;
                    font-weight: normal;
                }
            }

            a.readmore {
                font-style: italic;
                color: $motkraft-red;
            }
        }
        // @media all and (max-width: $bp-large) {
        // }
        // @media all and (min-width: $bp-large) {
        // background: #eee;
        // padding: $pad;
        // }
        article {
            // margin: 0 0 $pad;
            // @media all and (max-width: $bp-large) {
            // border-top: thin solid #ccc;
            // }
            // @media all and (min-width: $bp-large) {
            padding: $pad;
            background: #fff;
            // }
            border-bottom: 1px solid $motkraft-red;

            .hashtag {
                color: #666;
            }

            .timestamp {
                font-size: $font-size-small;
                font-style: italic;
                color: #666;
            }
        }
        .btn {
            border: 0;
            background: $motkraft-red;
            width: 200px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            font-style: italic;
            display: block;
            margin: 24px auto;
            font-weight: 600;
            color: #fff;
            border-radius: 8px;
            box-shadow: 2px 2px 4px rgba(0,0,0,.5);
        }
    }
}
