// bower:scss
// endbower

body {
  background: #eee;
  font-family: 'Helvetica', Arial, sans-serif;
  color: #000;
  margin:0;
}

header {
    background: #666;
    padding:1em;
    margin: 0 0 1em;
  h1 {
      color: #fff;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    margin: 0;
  }
}
footer {
    background: #666;
    color: #fff;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#main {
    padding: 1em 1em 5em;
    #ticker {
        h1 {
            margin: 0 0 .25em;
        }
        article {
            background: #fff;
            padding: 1em;
            margin: 0 0 1em;
        }
    }
}
.timestamp {
    font-size: .8em;
    font-style: italic;
    color: #666;
}
.hashtag {
    color: #666;
}
